.navbar-el{
    display: flex;
    justify-content: flex-end;
    position:relative;
    flex-wrap: wrap;
    right: 1%;
    top: 2vh;
    height: 10vh;
}

.navbar-el li{
    padding: 10px;
    list-style: none;
    display: inline;
    margin: 10px;
    cursor: pointer;
}

.navbar-el li:hover{
    background-color: #6E78C0;
    border-radius: 5px;
    color: white;
}


@media screen and (max-width:600px){
    .navbar-el ul{
        background-color: #ffffffe6;
        text-align: center;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        position: absolute;
        right: 20px;
        border-radius: 10px;
    }

    .hamburger{
        position: absolute;
        z-index: 1;
        right: 10px;
        top: 10px;
        width: 35px;
        height: 100px;
    }
    .hamburger div{
        margin: 4px;
        background-color: black;
        height: 5px;
        width: 100%;
    }
}